<template>
  <div>
    <header>
      <div class="mobile-fix-option"></div>
      <div class="top-header">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="header-contact">
                <ul>
                  <li>Welcome to Mangoads</li>
                  <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 text-right">
              <ul class="header-dropdown">
                <li class="mobile-wishlist">
                  <nuxt-link :to="{ path: '/page/account/wishlist' }">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </nuxt-link>
                </li>
                <li class="onhover-dropdown mobile-account">
                  <i class="fa fa-user" aria-hidden="true"></i> My Account
                  <ul class="onhover-show-div">
                    <li>
                      <a v-if="isLogin" @click="logout"> Logout </a>
                      <nuxt-link v-if="!isLogin" :to="{ path: '/page/account/login-firebase' }">Login</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/page/account/dashboard' }">Dashboard</nuxt-link>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="main-menu">
              <div class="menu-left">
                <!-- <div class="navbar">
                  <a @click="left_sidebar">
                    <div class="bar-style">
                      <i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                    </div>
                  </a>
                  <LeftSidebar :leftSidebarVal="leftSidebarVal" @closeVal="closeBarValFromChild" />
                </div> -->
                <div class="brand-logo">
                  <nuxt-link :to="{ path: '/'}">
                    <img :src='"@/assets/images/icon/mangoads-logo.png"' class="img-fluid" alt />
                  </nuxt-link>
                </div>
              </div>
              <div class="menu-right pull-right">

                  <!-- NAV BAR -->
                  <!-- <Nav/> -->

                  <div>
                    <!-- Sample menu definition -->
                    <div class="main-navbar">
                      <div id="mainnav">
                        <div class="toggle-nav" :class="leftSidebarVal ? 'toggle-button' : ''" @click="openmobilenav=true">
                          <i class="fa fa-bars sidebar-bar"></i>
                        </div>
                        <ul class="nav-menu" :class="{ opennav: openmobilenav }" >
                          <li class="back-btn">
                            <div class="mobile-back text-right">
                              <span @click="openmobilenav=false">Back</span>
                              <i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
                            </div>
                          </li>
                          <li v-for="(menuItem, index) in menulist" :key="index" :class="menuItem.megamenu ? 'mega-menu' : 'dropdown'">
                            <nuxt-link :to="{ path: menuItem.path}" class="nav-link" @click="setActive(menuItem.title)">
                              {{menuItem.title}}
                              <span class="sub-arrow" v-if="menuItem.children || menuItem.megamenu"></span>
                            </nuxt-link>
                            <ul class="nav-submenu" :class="{ opensubmenu: isActive(menuItem.title) }" v-if="menuItem.children">
                              <li v-for="(childrenItem, index) in menuItem.children" :key="index">
                                <a href="javascript:void(0)" @click="setActiveChild(childrenItem.title)" v-if="childrenItem.children">
                                  {{childrenItem.title}}
                                  <span class="sub-arrow" v-if="childrenItem.children"></span>
                                </a>
                                <nuxt-link v-else :to="{ path: childrenItem.path}"  @click="setActiveChild(childrenItem.title)">
                                  {{childrenItem.title}}
                                </nuxt-link>
                                <ul class="nav-sub-childmenu" :class="{ opensubchild: isActiveChild(childrenItem.title) }" v-if="childrenItem.children">
                                  <li v-for="(childrenSubItem, index) in childrenItem.children" :key="index">
                                    <nuxt-link :to="{ path: childrenSubItem.path}">
                                      {{childrenSubItem.title}}
                                    </nuxt-link>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                            <div class="mega-menu-container" :class="{ opensubmenu: isActive('portfolio') }" v-if="menuItem.megamenu">
                              <div class="container">
                                <div class="row">
                                  <div class="col mega-box"  v-for="(childrenItem, index) in menuItem.children" :key="index">
                                    <div class="link-section">
                                      <div class="menu-title" @click="setActivesubmega('portfolio')">
                                        <h5>{{childrenItem.title}}
                                          <span class="sub-arrow"></span>
                                        </h5>
                                      </div>
                                      <div class="menu-content" :class="{ opensubmegamenu: isActivesubmega('portfolio') }">
                                        <ul>
                                          <li v-for="(childrenSubItem, index) in childrenItem.children" :key="index">
                                            <nuxt-link :to="{ path: childrenSubItem.path}">
                                              {{childrenSubItem.title}}
                                            </nuxt-link>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <!-- END NAV BAR -->
                  <!-- <HeaderWidgets/> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>
<script>
import TopBar from '../widgets/topbar'
import LeftSidebar from '../widgets/left-sidebar'
import Nav from '../widgets/navbar'
import { mapState } from 'vuex'
// import HeaderWidgets from '../widgets/header-widgets'
export default {
  data() {
    return {
      leftSidebarVal: false,
      isLogin: false,
      openmobilenav: false,
      subnav: false,
      activeItem: 'home',
      activeChildItem: 'fashion 1',
      activemegaChild: 'portfolio'
    }
  },
  computed: {
    ...mapState({
      menulist: state => state.menu.data
    })
  },
  components: {
    TopBar,
    LeftSidebar,
    Nav,
    // HeaderWidgets
  },
  methods: {
    left_sidebar() {
      this.leftSidebarVal = true
    },
    closeBarValFromChild(val) {
      this.leftSidebarVal = val
    },
    mobilenav: function () {
      this.openmobilenav = !this.openmobilenav
    },
    isActive: function (menuItem) {
      return this.activeItem === menuItem
    },
    setActive: function (menuItem) {
      if (this.activeItem === menuItem) {
        this.activeItem = ''
      } else {
        this.activeItem = menuItem
      }
    },
    isActiveChild: function (menuChildItem) {
      return this.activeChildItem === menuChildItem
    },
    setActiveChild: function (menuChildItem) {
      console.log(menuChildItem)
      if (this.activeChildItem === menuChildItem) {
        this.activeChildItem = ''
      } else {
        this.activeChildItem = menuChildItem
      }
    },
    isActivesubmega: function (megaChildItem) {
      return this.activemegaChild === megaChildItem
    },
    setActivesubmega: function (megaChildItem) {
      if (this.activemegaChild === megaChildItem) {
        this.activemegaChild = ''
      } else {
        this.activemegaChild = megaChildItem
      }
    }
  }
}
</script>
