<template>
  <div>
    <div class="title1 section-t-space">
      <h4>{{subtitle}}</h4>
      <h2 class="title-inner1">{{title}}</h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="product-para">
            <p class="text-center">{{description}}</p>
          </div>
        </div>
      </div>
    </div>
    <section class="section-b-space p-t-0 ratio_asos">
      <div class="container">
        <div class="row">
          <div class="col">
            <div v-swiper:mySwiper="swiperOption">
              <div class="swiper-wrapper">
                <div
                  class="swiper-slide"
                  v-for="(product,index) in products"
                  :key="index"
                >
                <!-- list all top collection of products -->
                <div class="product-box">
                  <div>
                    <div class="img-wrapper">
                      <div class="lable-block">
                        <span class="lable3" v-if="product.new">new</span>
                        <span class="lable4" v-if="product.sale">on sale</span>
                      </div>
                      <div class="front">
                        <nuxt-link :to="{ path: '/product/'+product.id}">
                          <img
                            :src='getImgUrl(imageSrc ? imageSrc : product.images[0].src)'
                            :id="product.id"
                            class="img-fluid bg-img"
                            :alt="product.title"
                            :key="index"
                          />
                        </nuxt-link>
                      </div>
                      <ul class="product-thumb-list">
                        <li
                          class="grid_thumb_img"
                          :class="{active: imageSrc === image.src}"
                          v-for="(image,index) in product.images"
                          :key="index"
                          @click="productVariantChange(image.src)"
                        >
                          <a href="javascript:void(0);">
                            <img :src="getImgUrl(image.src)" />
                          </a>
                        </li>
                      </ul>
                      <div class="cart-info cart-wrap">
                          <button
                            data-toggle="modal"
                            data-target="#addtocart"
                            title="Add to cart"
                            @click="addToCart(product)"
                            v-b-modal.modal-cart
                            variant="primary"
                          >
                            <i class="ti-shopping-cart"></i>
                          </button>
                        <a href="javascript:void(0)" title="Wishlist">
                          <i class="ti-heart" aria-hidden="true" @click="addToWishlist(product)"></i>
                        </a>
                        <a href="javascript:void(0)" title="Quick View" @click="showQuickview(product)" v-b-modal.modal-lg variant="primary">
                          <i class="ti-search" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:void(0)" title="Comapre" @click="addToCompare(product)" v-b-modal.modal-compare variant="primary">
                          <i class="ti-reload" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                    <div class="product-detail">
                      <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <nuxt-link :to="{ path: '/product/'+product.id}">
                        <h6>{{ product.title }}</h6>
                      </nuxt-link>
                      <p>{{ product.description }}</p>
                      <h4 v-if="product.sale">
                        {{ discountedPrice(product) }}$
                        <del>{{ product.price }} $</del>
                      </h4>
                      <h4 v-else>{{ product.price }} $</h4>
                      <!-- <ul class="color-variant" v-if="product.variants[0].color">
                        <li v-for="(variant,variantIndex) in Color(product.variants)" :key="variantIndex">
                          <a
                            @click="productColorchange(variant, product)"
                            :class="[variant]"
                            v-bind:style="{ 'background-color' : variant}"
                          ></a>
                        </li>
                      </ul> -->
                    </div>
                  </div>
                </div>
                  <!-- end collection of products -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-alert
      :show="dismissCountDown"
      variant="success"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="alert"
    >
      <p>Product Is successfully added to your wishlist.</p>
    </b-alert>
  </div>
</template>

<script>
// import productBox1 from '../../../../components/product-box/product-box1'
import axios from 'axios';

export default {
  props: ['products'],
  // components: {
  //   productBox1
  // },
  data() {
    return {
      title: 'top collection',
      subtitle: 'special offer',
      showCart: false,
      showquickviewmodel: false,
      showcomapreModal: false,
      quickviewproduct: {},
      comapreproduct: {},
      cartproduct: {},
      dismissSecs: 5,
      dismissCountDown: 0,
      description:
        'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s.',
      swiperOption: {
        slidesPerView: 4,
        spaceBetween: 20,
        freeMode: false,
        breakpoints: {
          1199: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          991: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          420: {
            slidesPerView: 1,
            spaceBetween: 20
          }
        }
      },
      imageSrc: '',
      quickviewProduct: {},
      compareProduct: {},
      cartProduct: {},
      cartval: false,
      variants: {
        productId: '',
        image: ''
      },
    }
  },
  methods: {
    alert(item) {
      this.dismissCountDown = item
    },
    showCartModal(item, productData) {
      this.showCart = item
      this.cartproduct = productData
      this.$emit('openCart', this.showCart, this.cartproduct)
    },
    showquickview(item, productData) {
      this.showquickviewmodel = item
      this.quickviewproduct = productData
      this.$emit('openQuickview', this.showquickviewmodel, this.quickviewproduct)
    },
    showcomparemodal(item, productData) {
      this.showcomapreModal = item
      this.comapreproduct = productData
      this.$emit('openCompare', this.showcomapreModal, this.comapreproduct)
    },
    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },
    discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    }
  }
}
</script>
