<template>
  <div>
    <Header />
    <Nuxt />
    <Footer />
  </div>
</template>
<script>
import Header from '@/components/header/header1'
import Footer from '@/components/footer/footer1'
export default {
  components: {
    Header,
    Footer
  }
}
</script>