<template>
  <div>
    <Slider />
    <CollectionBanner />
    <Block1 :products="topProducts" />
  </div>
</template>

<script>
import Slider from '@/components/slider'
import CollectionBanner from '@/components/collectionBanner'
import Block1 from '@/components/collection/block1'
import axios from 'axios'

const thisComponents = {
  Slider,
  CollectionBanner,
  Block1
}

export default {
  async asyncData(context) {
    let topProducts = [];
    await axios.get(process.env.API_URL+'/top_collections')
    .then(resp => {
      topProducts = resp.data;
    })
    .catch(error => {
      console.log(error);
    });
    return { topProducts : topProducts};
  },
  components: thisComponents
}
</script>