<template>
  <div>
  <!-- Show Breadcrumbs -->
  <Breadcrumbs title="Bộ sưu tập" />
  <section class="section-b-space ratio_asos">
    <div class="collection-wrapper">
      <div class="container">
        <div class="row">
          <div class="collection-content col">
            <div class="page-main-content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="top-banner-wrapper">
                    <a href="#">
                      <img
                        :src='"@/assets/images/mega-menu/2.jpg"'
                        class="img-fluid"
                        alt
                      />
                    </a>
                    <div class="top-banner-content small-section">
                      <h4>fashion</h4>
                      <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                  </div>
                  <div class="collection-product-wrapper">
                    <div class="product-top-filter">
                      <div class="row">
                        <div class="col-12">
                          <div class="product-filter-content">
                            <div class="search-count">
                              <h5>Showing Products of Page {{current}} / {{totalPage()}}</h5>
                            </div>
                            <div class="collection-view">
                              <ul>
                                <li @click="gridView()">
                                  <i class="fa fa-th grid-layout-view"></i>
                                </li>
                                <li @click="listView()">
                                  <i class="fa fa-list-ul list-layout-view"></i>
                                </li>
                              </ul>
                            </div>
                            <div class="collection-grid-view">
                              <ul>
                                <li>
                                  <img
                                    :src='"@/assets/images/icon/2.png"'
                                    @click="grid2()"
                                    class="product-2-layout-view"
                                  />
                                </li>
                                <li>
                                  <img
                                    :src='"@/assets/images/icon/3.png"'
                                    @click="grid3()"
                                    class="product-3-layout-view"
                                  />
                                </li>
                                <li>
                                  <img
                                    :src='"@/assets/images/icon/4.png"'
                                    @click="grid4()"
                                    class="product-4-layout-view"
                                  />
                                </li>
                                <li>
                                  <img
                                    :src='"@/assets/images/icon/6.png"'
                                    @click="grid6()"
                                    class="product-6-layout-view"
                                  />
                                </li>
                              </ul>
                            </div>
                            <div class="product-page-filter">
                              <select @change="onChangeSort($event)">
                                <option value="all">Sorting Items</option>
                                <option value="a-z">Alphabetically, A-Z</option>
                                <option value="z-a">Alphabetically, Z-A</option>
                                <option value="low">price, low to high</option>
                                <option value="high">price, high to low</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-wrapper-grid" :class="{'list-view':listview == true}">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="text-center section-t-space section-b-space" v-if="productsList.length == 0">
                            <img :src='"@/assets/images/empty-search.jpg"' class="img-fluid" alt />
                            <h3 class="mt-3">Sorry! Couldn't find the product you were looking For!!!</h3>
                            <div class="col-12 mt-3">
                                <nuxt-link :to="{ path: '/'}" class="btn btn-solid">continue shopping</nuxt-link>
                            </div>
                          </div>
                        </div>
                        <div
                        class="col-grid-box"
                        :class="{'col-lg-3 col-md-4 col-sm-6':col4 == true, 'col-lg-4 col-sm-6':col3 == true, 'col-sm-6':col2 == true, 'col-lg-2 col-md-4 col-sm-6':col6 == true, 'col-lg-12':listview == true}"
                        v-for="(product,index) in productsList"
                        :key="index"
                        >
                          <div class="product-box">
                            <div>
                              <div class="img-wrapper">
                                <div class="lable-block">
                                  <span class="lable3" v-if="product.new">new</span>
                                  <span class="lable4" v-if="product.sale">on sale</span>
                                </div>
                                <div class="front">
                                  <nuxt-link :to="{ path: '/product/'+product.id}">
                                    <img
                                      :src='getImgUrl(imageSrc ? imageSrc : product.images[0].src)'
                                      :id="product.id"
                                      class="img-fluid bg-img"
                                      :alt="product.title"
                                      :key="index"
                                    />
                                  </nuxt-link>
                                </div>
                                <ul class="product-thumb-list">
                                  <li
                                    class="grid_thumb_img"
                                    :class="{active: imageSrc === image.src}"
                                    v-for="(image,index) in product.images"
                                    :key="index"
                                    @click="productVariantChange(image.src)"
                                  >
                                    <a href="javascript:void(0);">
                                      <img :src="getImgUrl(image.src)" />
                                    </a>
                                  </li>
                                </ul>
                                <div class="cart-info cart-wrap">
                                    <button
                                      data-toggle="modal"
                                      data-target="#addtocart"
                                      title="Add to cart"
                                      @click="addToCart(product)"
                                      v-b-modal.modal-cart
                                      variant="primary"
                                    >
                                      <i class="ti-shopping-cart"></i>
                                    </button>
                                  <a href="javascript:void(0)" title="Wishlist">
                                    <i class="ti-heart" aria-hidden="true" @click="addToWishlist(product)"></i>
                                  </a>
                                  <a href="javascript:void(0)" title="Quick View" @click="showQuickview(product)" v-b-modal.modal-lg variant="primary">
                                    <i class="ti-search" aria-hidden="true"></i>
                                  </a>
                                  <a href="javascript:void(0)" title="Comapre" @click="addToCompare(product)" v-b-modal.modal-compare variant="primary">
                                    <i class="ti-reload" aria-hidden="true"></i>
                                  </a>
                                </div>
                              </div>
                              <div class="product-detail">
                                <div class="rating">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                </div>
                                <nuxt-link :to="{ path: '/product/'+product.id}">
                                  <h6>{{ product.title }}</h6>
                                </nuxt-link>
                                <p>{{ product.description }}</p>
                                <h4 v-if="product.sale">
                                  {{ discountedPrice(product) }}$
                                  <del>{{ product.price }} $</del>
                                </h4>
                                <h4 v-else>{{ product.price }} $</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-pagination mb-0" v-if="totalProducts > this.paginate">
                      <div class="theme-paggination-block">
                        <div class="row">
                          <div class="col-xl-6 col-md-6 col-sm-12">
                            <nav aria-label="Page navigation">
                              <ul class="pagination">
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0)"  @click="updatePaginate(current-1)">
                                    <span aria-hidden="true">
                                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </span>
                                  </a>
                                </li>
                                <li class="page-item" v-for="(page_index, index) in this.pages" :key="index" :class="{'active': page_index == current}">
                                  <a
                                    class="page-link"
                                    href="javascript:void(0)"
                                    @click.prevent="updatePaginate(page_index)"
                                  >{{ page_index }}</a>
                                </li>
                                <li class="page-item">
                                  <a class="page-link" href="javascript:void(0)" @click="updatePaginate(current+1)">
                                    <span aria-hidden="true">
                                      <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                          <div class="col-xl-6 col-md-6 col-sm-12">
                            <div class="product-search-count-bottom">
                              <h5>Page {{current}} / {{totalPage()}}</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</template>

<script>
import Breadcrumbs from '@/components/widgets/breadcrumbs'
import axios from 'axios'
export default {
  components: {
    Breadcrumbs
  },
  data() {
    return {
      imageSrc: '',
      bannerimagepath: require('@/assets/images/side-banner.png'),
      col2: false,
      col3: false,
      col4: true,
      col6: false,
      listview: false,
      current: 1,
      paginate: 12,
      paginateRange: 3,
      pages: [1,2,3],
      paginates: '',
      showquickviewmodel: false,
      showcomparemodal: false,
      quickviewproduct: {},
      comapreproduct: {},
      cartproduct: {},
      dismissSecs: 5,
      dismissCountDown: 0,
      currentID: [1,8],
    }
  },
  async asyncData({route, params}) {
    let queryString = (route.fullPath).split(route.path)[1];
    let topProducts = [];
    let totalProducts = 0;
    await axios.get(`${process.env.API_URL}/category-${route.params.slut}${queryString}`)
    .then(resp => {
      topProducts = resp.data;
      totalProducts = resp.headers['x-total-count'];
    })
    .catch(error => {
      console.log(error);
    });
    return { productsList : topProducts, totalProducts: totalProducts};
  },
  watch: {
    '$route.fullPath': function() {
      this.getNewDataForPaginate();
    }
  },
  methods: {
    async getNewDataForPaginate() {
      let queryString = (this.$route.fullPath).split(this.$route.path)[1];
      await axios.get(`${process.env.API_URL}/category-${this.$route.params.slut}${queryString}`)
      .then(resp => {
        console.log(resp);
        this.productsList = resp.data;
        this.totalProducts = resp.headers['x-total-count'];
      })
      .catch(error => {
        console.log(error);
      });
    },

    totalPage() {
      return Math.ceil(this.totalProducts/10);
    },

    // FIX LATE
    onChangeSort(event) {
      if (event.target.value === 'a-z') {
        this.$router.push({path: this.$route.fullPath, query: {_sort: 'title', _order: 'asc'}});
      } else if (event.target.value === 'z-a') {
        this.$router.push({path: this.$route.fullPath, query: {_sort: 'title', _order: 'desc'}});
      } else if (event.target.value === 'low') {
        this.$router.push({path: this.$route.fullPath, query: {_sort: 'price', _order: 'asc'}});
      } else if (event.target.value === 'high') {
        this.$router.push({path: this.$route.fullPath, query: {_sort: 'price', _order: 'desc'}});
      }
    },
    gridView() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },
    listView() {
      this.listview = true
      this.col4 = false
      this.col2 = false
      this.col3 = false
      this.col6 = false
    },
    grid2() {
      this.col2 = true
      this.col3 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },
    grid3() {
      this.col3 = true
      this.col2 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },
    grid4() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },
    grid6() {
      this.col6 = true
      this.col2 = false
      this.col3 = false
      this.col4 = false
      this.listview = false
    },
    getPaginate() {
      this.paginates = Math.round(this.totalProducts.length / this.paginate)
      this.pages = []
      for (let i = 0; i < this.paginates; i++) {
        this.pages.push(i + 1)
      }
    },
    setPaginate(i) {
      if (this.current === 1) {
        return i < this.paginate
      } else {
        return (i >= (this.paginate * (this.current - 1)) && i < (this.current * this.paginate))
      }
    },
    updatePaginate(i) {
      console.log(i);
      this.$router.push({path: this.$route.fullPath, query: {_sort: 'title', _order: 'asc'}});
      let url = this.$route.fullPath;
      var newUrl = url.replace(`_page=${this.current}`, `_page=${i}`);
      this.current = i;
      let start = 0;
      let end = 0;
      this.$router.push({path: newUrl});
      if (this.current < this.paginateRange - 1) {
        start = 1
        end = start + this.paginateRange - 1
      } else {
        start = this.current - 1
        end = this.current + 1
      }
      if (start < 1) {
        start = 1
      }
      if (end > this.paginates) {
        end = this.paginates
      }
      this.pages = []
      for (let i = start; i <= end; i++) {
        this.pages.push(i)
      }
      return this.pages
    },
    alert(item) {
      this.dismissCountDown = item
    },
    showQuickview(item, productData) {
      this.showquickviewmodel = item
      this.quickviewproduct = productData
    },
    alert(item) {
      this.dismissCountDown = item
    },
    showquickview(item, productData) {
      this.showquickviewmodel = item
      this.quickviewproduct = productData
      this.$emit('openQuickview', this.showquickviewmodel, this.quickviewproduct)
    },
    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },
    discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    }
  }
}
</script>